
body{
    background-image: url("./images/bg-top.svg"),url("./images/bg-bottom.svg");
    background-position: top right,bottom left;
    background-repeat: no-repeat;
    font-size: 20px;
    background-color: white;
    color: hsl(232,13%,33%);
    font-family: 'Montserrat', sans-serif;
}

#button{
    background-image: linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%)); 
    padding-left: 5px;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.border{
    border-top: 1px solid rgb(182, 180, 180);
    border-bottom: 1px solid rgb(182, 180, 180);
    width: 80%;
    display: flex;
    justify-content: center;
}
.heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    color: rgb(46, 42, 42);
}

.buttonbox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    color: grey;
    padding-bottom: 60px;
}

.special-cost{
    color: white;
    font-size: 60px;
    margin-top:10px;
    margin-bottom: 30px;
}

.circle{
    background-color: white;
    display: flex;
    align-items: center;
    width: 25px;
    height: 23px;
    margin-bottom:1px;
    border-radius: 50%;

}

.cards-box{
    display: flex;
    justify-content: center;
    font-size: medium;
    line-height: 4em;
    color: grey;
}

.card{
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 460px;
    box-shadow: 3px 3px 3px 3px;
}

.special-card{
    padding-top: 30px;
    margin-top: 40px;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    background-image: linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%)); 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.cost{
    color: black;
    font-size: 60px;
    margin-top:10px;
    margin-bottom: 30px;
}

.footers{
    background-image: linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%)); 
    width:80%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 40px;
    border: 1px solid hsl(228, 45%, 44%);
    border-radius: 8px;
}

.special-footers{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    margin-top: 10px;
    background: white; 
    color: hsl(228, 45%, 44%);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    height: 50px;
    border-radius: 12px;
}
.footers:hover{
    cursor: pointer;
    background-image: none;
    background-color: white;
    color: hsl(237, 63%, 64%);
}

.special-footers:hover{
    cursor: pointer;
    background-color: hsl(237, 63%, 64%);
    color: white;
}

.box1{
    margin-top: 75px;
    padding-right: 50px;
    background-color: white;
}

.box2{
    margin-top: 75px;
    padding-left: 50px;
    background-color: white;
}
/* CSS for mobile devices */

@media (max-width:375px){
    .cards-box{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1440px){
    .cards-box{
        flex-direction: column;
        align-items: center;
    }
}